canvas {
    margin-left: 20%;
    margin-top: 5px;
    background: white;
    border-color: black;
    border-style: solid;
}

canvas:hover {
    border-style: dashed;
}

h1#title:hover {
    position: relative;
    left: 40%;
    width: max-content;
    text-align: center;
    border-radius: 0px;
    font-size: 50px;
    border-bottom: red;
    border-style: solid;

}

h1#title {
    margin-bottom: -15px;
    position: relative;
    left: 40%;
    width: max-content;
    text-align: center;
    border-radius: 0px;
    font-size: 50px;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
}

p#subtitle {
    margin-bottom: 2px;
    position: relative;
    left: 40%;
    width: max-content;
    text-align: center;
    border-radius: 0px;
    border-color: transparent;
    border-style: solid;
}

p#subtitle:hover {
    position: relative;
    left: 40%;
    width: max-content;
    text-align: center;
    border-radius: 0px;
    border-bottom: red;
    border-style: solid;
}

p#numOfCollision {
    left: 20%;
    margin-bottom: -3px;
    position: relative;
}

button {
    position: relative;
    background-color: #4CAF50;
    font-size: 28px;
    color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: -4px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

input {
    width: max-content;
    padding-top: 20px;
    font-size: 20px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
